@import '../../variables';
@import '../../mixins';

.containerForm {
	background-color: white;
	justify-content: center;
	margin: 5rem 8rem;
	padding: 2.5rem;
	border-radius: 1rem;
}

.contact {
	margin-bottom: 2rem;
	font-family: $primaryfont;
	font-weight: 700;
	font-size: 1.6rem;
	color: $greydarker;
}

.nameForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.queryForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.queryP {
	font-family: $primaryfont;
	font-size: 1rem;
	display: block;

	span {
		@include requiredStyle;
	}
}

.messageForm {
	label {
		font-family: $primaryfont;
		font-size: 1rem;
		display: block;

		span {
			@include requiredStyle;
		}
	}
}

.messageArea {
	@include inputStyles;
	height: 8rem;
	font-size: 0.9rem;

	&::placeholder {
		font-family: $primaryfont;
	}
}

.termsForm {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	margin-bottom: 24px;

	input {
		width: initial;
		margin: 0;
	}

	label {
		display: inline-block;
		align-self: center;
		margin-left: 1rem;
	}
}

.submit {
	box-sizing: border-box;
	width: 100%;
	background-color: $greenmedium;
	border: none;
	font-family: $primaryfont;
	color: white;
	font-weight: 700;
	padding: 1rem;
	cursor: pointer;
	border-radius: 7px;
}
