@import '../../variables';

.containerForm {
	background-color: white;
	justify-content: center;
	margin: 5rem 8rem;
	padding: 2.5rem;
	border-radius: 1rem;
}

.contact {
	margin-bottom: 2rem;
	font-family: $primaryfont;
	font-weight: 700;
	font-size: 1.6rem;
	color: $greydarker;
}

.nameForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.submit {
	width: 100%;
	background-color: $greenmedium;
	border: none;
	font-family: $primaryfont;
	color: white;
	font-weight: 700;
	padding: 1rem;
	border-radius: 7px;
}
