@import '../../variables';
@import '../../mixins';

.containerForm {
	background-color: white;
	justify-content: center;
	margin: 5rem 8rem;
	padding: 2.5rem;
	border-radius: 1rem;
}

.contact {
	margin-bottom: 0.4rem;
	font-family: $primaryfont;
	font-weight: 700;
	font-size: 1.6rem;
	color: $greydarker;
}

.nameForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.queryForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.queryP {
	font-family: $primaryfont;
	font-size: 1rem;
	display: block;
	margin-top: 1.5rem;

	span {
		@include requiredStyle;
	}
}

.errorMessage {
	font-family: $primaryfont;
	color: $red;
	margin-top: -10px;
	font-size: 12px;
	grid-row: 3;
}

.messageForm {
	label {
		font-family: $primaryfont;
		font-size: 1rem;
		margin-top: 1.5rem;
		display: block;

		span {
			@include requiredStyle;
		}
	}
}

.errorMessage {
	margin-top: 5px;
}

.messageArea {
	@include inputStyles;
	height: 8rem;
	font-size: 0.9rem;

	&::placeholder {
		font-family: $primaryfont;
	}
}

.termsForm {
	div {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		align-items: center;
		margin-bottom: 24px;
		margin-top: 1.5rem;

		label {
			display: inline-block;
			margin-top: 0;
			margin-left: 10px;
			order: 2;
		}

		input {
			width: initial;
			margin: 0;
		}

		.error-msg {
			display: block;
			width: 100%;
			margin-top: -8px;
			order: 3;
		}
	}
}

.submit {
	box-sizing: border-box;
	width: 100%;
	background-color: $greenmedium;
	border: none;
	font-family: $primaryfont;
	color: white;
	font-weight: 700;
	padding: 1rem;
	cursor: pointer;
	border-radius: 7px;
}
