@import '../../mixins';
@import '../../variables';

.fiedRadio {
	@include inputStyles;
	margin-left: 0;
	margin-right: 0;
	align-content: center;
	padding: 5px 10px;
	box-sizing: border-box;

	label {
		font-family: $primaryfont;
		margin-left: 0.1rem;
		font-size: 1.05rem;
		padding: 2px;
	}
}

.inputRadio {
	margin: 0 10px;
}
